<!-- <div class='container-fluid'>    
    <div class="row" style="padding: 20px;">    
        <div class="col-sm-12 btn btn-success">    
            Use Owl Carousel In Angular 8  
        </div>    
    </div>    
    <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let image of images;let i= index">
            <img class="slide-image" src="{{image.image}}" >
            <div class="slide-text">
                <h4>{{image.text}}</h4>
            </div>
        </div>
    </owl-carousel>
</div>   -->
<router-outlet></router-outlet>