<section class="blog">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Latest 
                <span class="section-intro__style">News</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="assets/img/blog/blog1.png" alt="">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li>
                                <a href="#">By Admin</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="ti-comments-smiley"></i> 2 Comments
                                </a>
                            </li>
                        </ul>
                        <h4 class="card-blog__title">
                            <a href="single-blog.html">The Richland Center Shooping News and weekly shooper</a>
                        </h4>
                        <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                        <a class="card-blog__link" href="#">Read More 
                        <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="assets/img/blog/blog2.png" alt="">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li>
                                <a href="#">By Admin</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="ti-comments-smiley"></i> 2 Comments
                                </a>
                            </li>
                        </ul>
                        <h4 class="card-blog__title">
                            <a href="single-blog.html">The Shopping News also offers top-quality printing services</a>
                        </h4>
                        <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                        <a class="card-blog__link" href="#">Read More 
                        <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="assets/img/blog/blog3.png" alt="">
                    </div>
                    <div class="card-body">
                        <ul class="card-blog__info">
                            <li>
                                <a href="#">By Admin</a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="ti-comments-smiley"></i> 2 Comments
                                </a>
                            </li>
                        </ul>
                        <h4 class="card-blog__title">
                            <a href="single-blog.html">Professional design staff and efficient equipment you’ll find we offer</a>
                        </h4>
                        <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided light Forth.</p>
                        <a class="card-blog__link" href="#">Read More 
                        <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>